<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.grasp.training">

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- zxing -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 常亮 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--<uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG" />-->
    <!--&lt;!&ndash;<uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG" />&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <!--<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />-->
    <!--<uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"></uses-permission>-->
    <!--<uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"></uses-permission>-->


    <application
        android:name=".tool.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">

        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.ControlActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.RegisteredActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".Umeye_sdk.AcSearchDevice"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.Robote_add_activity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.AddTimingActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.TimingActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.SearchActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.SockeActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.EquipmentActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.ChangePasswordActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.SetPersonalActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.SwitchActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.EquipmentUpdataActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activity.WebViewActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.LightActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
        android:name=".activity.FeedbackActivity"
        android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:name=".activity.RetrievePasswordActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activity.SetPhoneActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activity.VerifyPhoneActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activity.CycleActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
        android:name=".activity.ConditionActivity"
        android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activity.CarriedOutActivity"
            android:windowSoftInputMode="adjustPan"></activity>


        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activity.NewIntelligentActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activity.ConditionTimingActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activity.OutdoorWeatherActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activity.SetOutdoorWeatherActivity"
            android:windowSoftInputMode="adjustPan"></activity>


        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activity.RoomActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".activity.SmartDeviceActivity"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".activity.DeviceStatusActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".activity.NewIntelligentTimeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activity.ScanActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <service android:name=".service.MqttService"></service>


        <!--<receiver android:name=".tool.MqttEquipment$ContentReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.grasp.training.service.content"></action>-->
        <!--</intent-filter>-->

        <!--</receiver>-->
        <receiver android:name=".receiver.MyReceiver">
                       
            <intent-filter android:priority="2147483647"><!--优先级加最高-->
                                <!-- 系统启动完成后会调用 -->
                               <action android:name="android.intent.action.BOOT_COMPLETED" />
                              
                                <!-- 解锁完成后会调用 -->
                               
                <action android:name="android.intent.action.USER_PRESENT" />
                                <!-- 监听情景切换 -->
                               <action android:name="android.media.RINGER_MODE_CHANGED" />
                              
                           
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.grasp.training.cartoonprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>